*{
    font-family: 'Poppins', sans-serif;
	font-size:16px;
}
.Certificate {
    padding: 50px 0 100px;
    border-top: 3px solid #e5ebf2;
}
.card_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* height: 100vh; */
    /* width: 90vw; */
    gap: 100px 50px;
    padding: 100px 50px;
}
.card_container .cards{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.card_container .cards:hover
{
    height: 400px;
}
.card_container .cards .img{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
.card_container .cards:hover .img{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);  
}
.card_container .cards .img img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_container .cards .content{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 29px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}
.card_container .cards:hover .content{
    top: 130px;
    height: 250px;
}
.card_container .cards .content h2{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
    color: #43485c;
    line-height: 1.5;
    letter-spacing: 1px;
}
.card_container .cards .content p{
    color:#333; 
    line-height: 1.5;
    /* letter-spacing: 0.5px; */
    /* padding-bottom: 20px; */
}

/* .card_container .cards .content h2{
    color: #43485c;
} */
 .card_container .cards .content p a{
    display: inline-block;
    background-color: #6E57E0;
    color: white;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    font-weight: 400;
    transition: all .55s ease;
}
.card_container .cards .content p a:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,.4); 
    background:#9f00ff;
    border: 1px solid #9f00ff;
    transform: translatey(-5px);
}